<h1>Edit Album</h1>

<%= bootstrap_form_with model: @album, url: album_path(@album), method: :patch, data: { turbo: false } do |form| %>
  <%= form.text_field :title %>
  <%= form.text_field :artist %>
  <%= form.submit %>
<% end %>

<p class="border-top border-light pt-2 mt-4">
  <%= link_to 'Back', albums_path %>
</p>

